<div class="empty_container">
  <h1>Дейност</h1>
</div>
<div class="info" id="activity">
  <div class="container">
    <div class="row">     
        <div class="col-sm-6 col-xs-12">
          <div class="list-container">
               <p>
                  В последните няколко години фирма "Арктическа жега" ЕТ се специализира в производството на пуловери с гарнитури от плат или кожа, униформени пуловери, подкасници, плетени ръкавици, плетени шапки, ловни пуловери използвани по предназначение в различни професии!
              </p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="list-container">
              <p>
                  Ние разполагаме с плетачни машини марка STOLL 7-ми файн, както и собствена конфекция. 
              </p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="list-container">
              <p>
                  Преждите, които използваме са смес от вълна и акрил в различни проценти. Платовете с които апликираме пуловерите са 65% памук и 35% полистер.
              </p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="list-container">
              <p>
                  "Арктическа жега" ЕТ е специализирана в производството освен на модни, така и на униформени пуловери.
              </p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="list-container">
              <p>                                
                  "Арктическа жега" ЕТ произвежда и други плетени артикули, използвани по предназначение като работно облекло в различните професии.
              </p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="list-container">
              <p>
                  Машините с които разполагаме са високопроизводителни, което позволява изпълнението на големи поръчки в кратки срокове.
              </p>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12">
          <div class="list-container">
              <p>
                  Дългогодишният ни опит е гаранция, че ще удовлетворим настоящите си и бъдещи клиенти.
              </p>
          </div>
        </div>        
    </div>
  </div>
</div>
