<div class="empty_container">
  <h1>Дейност</h1>
</div>
<div class="info" id="activity">
  <div class="container">
    <div class="row">     
        <div class="info_container">        
          <ul class="info_list">
            <li>
              <p>
                  В последните няколко години фирма "Арктическа жега" ЕТ се специализира в производството на пуловери с гарнитури от плат или кожа, униформени пуловери, подкасници, плетени ръкавици, плетени шапки, ловни пуловери използвани по предназначение в различни професии!
              </p>
            </li>
            <li>
              <p>
                  Ние разполагаме с плетачни машини марка STOLL 7-ми файн, както и собствена конфекция. 
              </p>
            </li>
            <li>
              <p>
                  Преждите, които използваме са смес от вълна и акрил в различни проценти. Платовете с които апликираме пуловерите са 65% памук и 35% полистер.
              </p>
            </li>
            <li>
              <p>
                  "Арктическа жега" ЕТ е специализирана в производството освен на модни, така и на униформени пуловери.
              </p>
            </li>
            <li>
              <p>                                
                  "Арктическа жега" ЕТ произвежда и други плетени артикули, използвани по предназначение като работно облекло в различните професии.
              </p>
            </li>
            <li>
              <p>
                  Машините с които разполагаме са високопроизводителни, което позволява изпълнението на големи поръчки в кратки срокове.
              </p>
            </li>
            <li>
              <p>
                  Дългогодишният ни опит е гаранция, че ще удовлетворим настоящите си и бъдещи клиенти.
              </p>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
