<div id="product">
  <div class="product even">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">        
          <p class="product-info">
            
            Униформени пуловери
          </p>
        </div>
        <div class="col-sm-6">
          <img src="../../../assets/images/Products/product3.jpg" alt="" class="product_img">
        </div>      
      </div>
    </div>
  </div>
  <div class="product odd">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../assets/images/Products/product2.jpg" alt="" class="product_img">
        </div>
        <div class="col-sm-6">
          <p class="product-info">
            Пуловери с гарнитура от плат или кожа
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="product even">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="product-info">
            Плетени подкасници, Плетени ръкавици, Плетени шапки
          </p>
        </div>
        <div class="col-sm-6">
          <img src="../../../assets/images/Products/product4.jpg" alt="" class="product_img">
        </div>      
      </div>
    </div>
  </div>
  <div class="product odd">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img src="../../../assets/images/Products/product1.jpg" alt="" class="product_img">
        </div>
        <div class="col-sm-6">        
          <p class="product-info">
            Ловни пуловери
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  