
<div class="info" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title_contacts">
          Контакти
        </h1>
      </div>
      <div class="col-sm-12">
        <ul class="contact_list">
          <li>
            <i class="fa fa-building"></i>
            <p>гр. Силистра</p>
          </li>
          <li>
            <i class="fa fa-home"></i>
            <p>ул. Добрич 61</p>
          </li>
          <li>
            <i class="fa fa-mobile-phone"></i>
            <p>00359888 242 608</p>
          </li>
          <li>
            <i class="fa fa-fax"></i>
            <p>0035986 824 074</p>
          </li>
          <li>
            <i class="fa fa-envelope"></i>
            <a href="#"> jelev@gbg.bg </a>
          </li>
          <li>
            <i class="fa fa-map-marker"></i>
            <a href="#">
              Локация
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
