<div class="empty_container">
  <h1 class="title">За нас</h1>
</div>
<div class="info" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="list-container">
            <p>
                "Арктическа жега" ЕТ е българска фирма основана през 1995 година с основен предмет на дейност - производство на горен плетен линеен трикотаж.
            </p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="list-container">
            <p>
                За времето на своята дейност фирмата ни се е утвърдила като коректен и надежден партньор, за което говорят и резултатите постигнати до момента.
            </p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="list-container">
            <p>
                В търсене на нови бизнес контакти в страната и чужбина, ние залагаме на разширяване на търговската си дейност. Надявайки се да обогатим и разнообразим пазарната си структура.
                "Арктическа жега" ЕТ обявява своята готовност за взаимно сътрудничество с нови бизнес-партньори от цял свят.
            </p>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="list-container">
            <p>
                Целта ни е да задоволим напълно изискванията на нашите настоящи и бъдещи клиенти и да следваме потребностите на българския и европейски пазар.
            </p>
        </div>
      </div>      
    </div>
  </div>
</div>
