<div class="background-header"></div>
<header id="header">
  <div class="container">
      <div class="row">
          <div class="inner_header">                                                     
              <div class="col-sm-4">
                  <img src="../../../assets/images/logo.png" alt="Пуловери" class="header_logo">
              </div>
              <div class="col-sm-8">
                <ul class="header_nav">
                      <li>
                        <a>{{'navbar.products' | translate}}</a>
                      </li>
                      <li>
                          <a >{{'navbar.forUs' | translate}}</a>
                      </li>
                      <li>
                          <a>{{'navbar.activity' | translate}}</a>
                      </li>                      
                      <li>
                        <a>{{'navbar.partners' | translate}}</a>
                      </li>
                      <li>
                        <a>{{'navbar.contacts' | translate}}</a>
                      </li>  
                      <li class="language_nav">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="../../../assets/images/language/bg_flag.png">
                          <span>БГ</span>
                        </a>
                        <ul class="dropdown-menu">
                          <li>
                              <img src="../../../assets/images/language/en_flag.png">
                              <span>EN</span>
                          </li>                                
                          <li>
                              <img src="../../../assets/images/language/de_flag.jpg">
                              <span>DE</span>
                          </li>                                                          
                        </ul>
                    </li>                     
                </ul>                                    
              </div>   
          </div>                
      </div>
  </div>
</header>