<div class="empty_container">
  <h1>Партньори</h1>
</div>
<div class="info" id="partners">
  <div class="container">
    <div class="row">
      <div class="info_container">        
        <div class="info_img owl-carousel">
            <div class="item"  >
                <a href="http://www.jenistyle.com/" target="_blank">                
                  <img src="../../../assets/images/partners_logo/jeni_style.png" >                  
                </a>              
            </div>
            <div class="item">
                <a href="http://kolibri48.com/" target="_blank">
                  <img src="../../../assets/images/partners_logo/kolibri.jpeg" >                  
                </a>                
            </div>
            <div class="item">
                <a href="http://mak.bg/" target="_blank">
                  <img src="../../../assets/images/partners_logo/mak.jpg" >                  
                </a>                 
            </div>
            <div class="item">
                <a href="http://www.navbul.com/bg/" target="_blank">
                  <img src="../../../assets/images/partners_logo/navibulgar.png" >
                </a>                
            </div>
            <div class="item">
                <a href="http://www.port-varna.bg/index.php?l=2&m=2&p=8" target="_blank">
                  <img src="../../../assets/images/partners_logo/prist_varna.png" >                  
                </a>                
            </div> 
            <div class="item">
                <a href="http://www.rabotnoobleklo.bg/" target="_blank">
                  <img src="../../../assets/images/partners_logo/rabotno.png" style="width:400px;">                  
                </a>                
            </div>   
            <div class="item">
                <a href="http://salamander-bg.com/" target="_blank">
                  <img src="../../../assets/images/partners_logo/salamander.png" >                  
                </a>                
            </div> 
            <div class="item" >
                <a href="http://www.solvay.com/en/index.html" target="_blank">
                  <img src="../../../assets/images/partners_logo/solvay.png" >
                </a>
            </div> 
            <div class="item" >
                <a href="http://www.vmg.bg/" target="_blank">
                  <img src="../../../assets/images/partners_logo/varnenska_gimnaziq.png" >
                </a>
            </div>
            <div class="item" >
                <a href="http://viking-t.com/" target="_blank">
                  <img src="../../../assets/images/partners_logo/viking.png" >
                </a>                
            </div>     
        </div>
      </div>
    </div>
  </div>
</div>