* {
  font-family: 'Exo 2', sans-serif; 
}

.def_btn {
  background: #ea5106;
  color: white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
  border: 1px solid transparent;
  outline: none;
}

.def_btn:hover,
.def_btn.active,
.def_btn:focus {
  background: #ffffff;
  color: #ea5106; 
  border: 1px solid #ea5106;
}

.empty_container {
  height: 80px;
  background: #fff;
  text-align: center;
  color: #ea5106;
  margin: 20px 0px 15px;
}
.empty_container h1::after{
  content: '\f107';
  font-family: FontAwesome;
  display: block;

}

.background-header {
  position: relative;
  width: 100%;
  background-image: url(../images/BannersAndEtc/banner2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom;
  background-attachment: fixed;
  min-height: 500px; 
}
header.m_h {
  transform: scale(1.1);
  padding: 10px 0px;
}
header.t_h {
  transform: scale(1.0);
  padding: 0px;
}
header {
  position: fixed;  
  z-index: 100;
  background: #fff;
  top: 0px;
  width: 100%; 
  transition: all 0.5s ease-in-out;
}
header .top_header {
  background: lightgrey;
  text-align: right; 
}

header .inner_header {
  padding: 0px 15px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .inner_header .header_logo {
  width: 100px;
  margin-bottom: -2px;
}
header .inner_header ul.header_nav {
  list-style: none;
  padding: 0;
  text-align: right;
  margin-top: 25px;
  padding-top: 10px;
}
header .inner_header ul.header_nav li {
  display: inline-block;
  padding: 0px 22px;         
}
header .inner_header ul.header_nav li a {
  font-size: 18px;
  color:grey;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent; 
}
header .inner_header ul.header_nav li a:hover,
header .inner_header ul.header_nav li a.active,
header .inner_header ul.header_nav li a.focus {
  border-bottom: 1px solid #ea5106; 
}
header .inner_header ul.header_nav li:last-child {
  display: inline-block;
  padding-right: 0px; 
}
header .language_nav a img {
  position: relative;
  top: -3px;
}
header .language_nav img {
  width: 15px;
  height: 15px;   
}
header .language_nav ul.dropdown-menu {
  padding: 0px; 
  left: auto;
  min-width: 70px;
}
header .language_nav ul.dropdown-menu li {
  padding: 5px 10px;
  display: block;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  border-bottom: 1px solid lightgrey; 
}
header .language_nav ul.dropdown-menu li:last-child {
  display: block;
}
header .language_nav ul.dropdown-menu li img {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
  width: 15px;
  height: 15px; 
}
header .language_nav ul.dropdown-menu li:last-child {
  border-bottom: 1px solid transparent; 
}
header .language_nav ul.dropdown-menu li.active,
header .language_nav ul.dropdown-menu li:hover,
header .language_nav ul.dropdown-menu li:focus {
  background: #ea5106;
  color: #ffffff; 
}
header .responsive-nav {
  width: 100%;
}
header .responsive-nav ul.header_nav {
  text-align: left;
}
header .responsive-nav ul li {
  display: block !important;
  float: none;
  margin: 10px 0px;
  margin-left: 0px;
  border-bottom: 1px solid #ddd;
}
header .responsive-nav ul li ul.dropdown-menu li {
  margin: 0px;
}
header .responsive-nav ul.header_nav li a {
  padding: 0px;
  font-size: 22px ;
}
header .responsive-nav ul li a:hover,
header .responsive-nav ul li a:active,
header .responsive-nav ul li a:focus {
  border-bottom: 1px solid transparent !important; 
}
.info_container {
  padding: 50px 0px 0px; 
}
.info {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0px;
}
#about {
  background-image: url('../images/BannersAndEtc/banner1.jpg'); 
}
#activity {
  background-image: url('../images/BannersAndEtc/banner4.jpg');
}
#partners {
  background-image: url('../images/BannersAndEtc/2114.jpg');  
}
#contacts {
  background-image: url('../images/map.png');
  min-height: 680px;
  padding-top: 100px;
}

.info_container {
  background: #fff;
  margin: auto;
  padding: 15px;
  text-align: center;
  opacity: 0.85;
}
#partners .info_container {
  background: transparent;
}
.info_container ul.info_list {
  list-style: none;
  padding: 0px;
  padding-left: 0px;
  padding-top: 20px; 
}
.info_container ul.info_list li {
  padding: 10px 0px;
  font-size: 18px; }
.info_container ul.info_list li p {
  padding-left: 15px; 
  text-align: left;
}
.info_container ul.info_list li p::before {
  content: '\f138';
  font-family: FontAwesome;
  color: #ea5106;
  margin-right: 10px; 
} 

.info_container .info_img .item {
  display: inline-block;
  width: 46%;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  background: #fff;
  margin-right: 15px;
}
.info_container .info_img a {
  display: block;
  padding: 15px;
}
.info_container .info_img img {  
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
#contacts h1{
  color: #fff;
  text-align: center;
  margin: 40px 0px;
  font-size: 48px;
  border-bottom: 5px solid #fff;
  padding-bottom: 40px;
}
.contact_list {
  padding: 0px;
  margin: 0px;

}
.contact_list li {
  display: inline-block;
  width: 32%;
  text-align: center;
  padding: 15px;
}
.contact_list li i {
  font-size: 38px;
  color:#fff;
}
.contact_list li p, .contact_list li a{
  font-size: 32px;
  color:#fff;
  display: block;
}
#scroll-top {
  background: #ea5106;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  -moz-border-radius: 35%;
  -webkit-border-radius: 35%;
  border-radius: 35%;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  border: 1px solid #ea5106; 
}
#scroll-top:hover {
  background: #ffffff;
  color: #ea5106; 
}


@media only screen and (min-width:768px) { 
  .header_nav {
    display: block;
  }
  .responsive-nav {
    display: none;
  }
  .responsive-nav .header_nav {
    display: none;
  }
  #responsive {
    display: none;
  }
  
}

@media only screen and (max-width:768px) {
  .header_nav {
    display: none;
  }
  #responsive {
    display: block; 
  }
  .responsive-nav{
    display: none;
  }
  .responsive-nav .header_nav {
    display: block; 
  }
  #contacts ul li {
    width: 100%;
  }
  #partners div.item {
    display: block;
    margin: 10px auto 0px;
    width: 80%;
  }
  #partners div.item img{
    width: 100% !important;
    max-width: 150px !important;
  }
  
}
@media (min-width:768px) and (max-width:920px) {
  header .inner_header ul.header_nav li {
    padding: 0px 10px;
  }
}
@media  (min-width:768px) and (max-width:1200px) {
  #contacts ul li {
    width: 49%;
  }
  #partners div.item img{
    width: 200px !important;
  }
  header .container {
    width: 100%;
    padding: 10px 15px;
  }
  
}
